.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > input {
    border-radius: 0;
    border-width: 0;
}

.list-group.list-group-root > .list-group-item:hover {
    z-index: 0;
}

.list-group-item .fas {
    margin-right: 5px;
}

.hover-0:hover {
    z-index: 0;
}