html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.table.vertical-align > tbody > tr > td {
    vertical-align: middle;
}

.table-nonfluid {
    width: auto !important;
}

.preview-image {
    height: 120px;
    max-width: 100%;
}

.card-image {
    max-width: 100%;
}

.modal-dialog {
    max-width: 600px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}
