#slider {
    height: 400px;
    width: 400px;
}

.carousel-item {
    height: 400px;
    width: 400px;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}