<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Stand</title>
</h:head>

<h:body bgcolor="white">
    <p:carousel id="products" value="#{productsBean.products}" headerText="#{productsBean.type.value} stats"
                var="product"
                itemStyle="text-align: center" responsive="true">
        <p:panelGrid columns="1" style="width: 100%; margin: 10px 0" layout="grid" styleClass="ui-panelgrid-blank">
            <f:facet name="header">
                <img style="height: 200px; max-width: 100%;"
                     src="http://localhost:8886/images/${product.imgDirectoryName}${product.previewImage}" alt=""/>
            </f:facet>

            <p:commandLink value="${product.name}" action="${productDetailsBean.setProduct(product)}"
                           update=":details" oncomplete="PF('details').show()"/>

            <h:outputText escape="false" value="${product.priceString}"/>
        </p:panelGrid>
    </p:carousel>

    <p:dialog id="details" widgetVar="details" header="Details" width="500">
        <p:panelGrid columns="1" style="width: 100%; margin: 10px 0" layout="grid" styleClass="ui-panelgrid-blank">
            <f:facet name="header">
                <img style="width: 200px; max-height: 100%;"
                     src="http://localhost:8886/images/${productDetailsBean.product.imgDirectoryName}${productDetailsBean.product.previewImage}"
                     alt=""/>
            </f:facet>

            <h:outputText value="${productDetailsBean.product.name}"/>

            <h:outputText value="${productDetailsBean.product.currentPrice}$"/>

            <p:tabView dynamic="true" cache="true" effect="fold">
                <p:tab title="Description">
                    <h:outputText value="${productDetailsBean.product.shortDescription}"/>
                </p:tab>

                <p:tab title="Characteristics">
                    <p:dataTable var="filter" value="${productDetailsBean.product.filterValues}"
                                 tableStyle="width: auto;">
                        <p:column headerText="Characteristic">
                            <h:outputText value="${filter.filterTypeName}"/>
                        </p:column>

                        <p:column headerText="Value">
                            <h:outputText value="${filter.value}"/>
                        </p:column>
                    </p:dataTable>
                </p:tab>
            </p:tabView>
        </p:panelGrid>
    </p:dialog>

    <h:form>
        <f:websocket channel="products">
            <f:ajax event="${productsBean.type.trigger}" render=":products"/>

            <f:ajax event="general" render=":products"/>
        </f:websocket>
    </h:form>
</h:body>
</html>