<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Settings</title>
</h:head>

<h:body>
    <p:panel id="panel" header="Settings" style="max-width: 400px; margin: 0 auto;">
        <h:form>
            <h:panelGrid columns="2" cellpadding="5" styleClass="ui-grid">
                <h:outputLabel for="type" value="Subscription Type: "/>
                <p:selectOneMenu id="type" value="#{productsBean.type}">
                    <f:selectItems value="${dataBean.subscriptionTypes}" var="type"
                                   itemValue="${type}" itemLabel="${type.value}"/>
                </p:selectOneMenu>

                <h:outputLabel for="count" value="Items Count: "/>
                <p:spinner id="count" value="#{productsBean.count}" min="${dataBean.minProducts}"
                           max="${dataBean.maxProducts}"/>
            </h:panelGrid>

            <p:commandButton update="panel" validateClient="true" value="Apply"/>
        </h:form>
    </p:panel>

    <p:panel header="Stand" style="max-width: 400px; margin: 0 auto;">
        <h:form>
            <h:commandLink action="stand" value="Show stand"/>
        </h:form>
    </p:panel>
</h:body>
</html>